<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!--
    Container for metadata which is not displayed on the page
    title, styles(css), link, scripts, meta and other
-->
</head>
<body>

    <b>Welcome to Java developer course</b>
    <h1 align = "center" style = "color: blue">Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>
    <h4>Spring Boot</h4>
    <h5>Spring Boot</h5>

    <img src="springboot.png" alt = "Spring boot image">

<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://google.com">Google</a>
<a href="https://google.com/flights">Google Flights</a>

<table>
    <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Salary</td>
    </tr>
    <br>
    <br>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>
</table>

<br>
<label>Username</label>
<input type = "text" name = "username">
    <br>
<label>Password</label>
<input type ="password">
<br>
<label>Enter your comments</label>
<textarea name ="comments"></textarea>
<br>

<label>Please select your gender</label>
<input type = "radio" name = "gender" value ="male">Male
<input type = "radio" name = "gender" value ="female">Female
<input type = "radio" name = "gender" value ="other">Other

<br>
<label>Please select your favorite courses</label>
<input type = "checkbox" name = "course" value="spring">Spring
<input type = "checkbox" name = "course" value="DS">DS
<input type = "checkbox" name = "course" value="Java">Java

<br>
    <label>Please select a course form the dropdown</label>
<select>
    <option value = "us_sdet">US SDET</option>
    <option value = "eu_sdet">EU SDET</option>
    <option value = "us_jd">US JD</option>
    <option value = "jd_al">JD AL</option>
</select>

<br>
<br>
<form action="#" method="get">
    Firstname: <input type = "text" name = "firstname">
    <br>
    Lasttname: <input type = "text" name = "Lastname">
    <br>
    <input type = "button" value = "Submit">
</form>

<div style = "background-color: aqua">
    <h3> JAVA DEVELOPER COURSE</h3>
    <UL>
        <li> SPRING</li>
        <li>DATA STRUCTURE</li>
    </UL>
</div>

</body>
</html>